preview = true
line-length = 120
indent-width = 4

exclude = [
  ".venv",
  "venv",
  "env",
  ".env",
  "__pycache__",
  "*.pyc",
  "*.pyo",
  "*.pyd",
  "*.pyc",
  "*.pyo",
  "*.pyd",
]

[lint]
select = ["E", "F", "W", "D"]
fixable = ["ALL"]

[lint.pydocstyle]
convention = "google"